.login-page{
  height:100vh;
  background:linear-gradient(135deg,#e8f5e9,#f5f5f5);
  display:flex;
  justify-content:center;
  align-items:center;
  font-family:"Poppins",sans-serif;
}

/* CARD */

.login-card{
  width:420px;
  background:white;
  padding:40px;
  border-radius:20px;
  box-shadow:0 15px 35px rgba(0,0,0,0.1);
  text-align:center;
}

/* TITLE */

.login-title{
  font-size:28px;
  margin-bottom:5px;
}

.login-subtitle{
  font-size:14px;
  color:#777;
  margin-bottom:20px;
}

/* CAT */

.login-cat{
  width:190px;
  margin:15px auto 25px;
  display:block;
}

/* INPUT */

.login-group{
  text-align:left;
  margin-bottom:18px;
}

.login-group label{
  font-size:14px;
}

.login-input{
  width:95%;
  padding:12px;
  margin-top:6px;
  border-radius:12px;
  border:1px solid #ddd;
  outline:none;
}

.login-input:focus{
  border-color:#0f5c2e;
}

/* REMEMBER */

.login-remember{
  display:flex;
  align-items:center;
  gap:8px;
  margin-bottom:20px;
  font-size:14px;
}

/* BUTTON */

.login-btn{
  width:100%;
  padding:14px;
  border:none;
  border-radius:12px;
  background:#0f5c2e;
  color:white;
  font-size:16px;
  cursor:pointer;
  transition:0.3s;
}

.login-btn:hover{
  background:#0c4723;
  transform:translateY(-2px);
  box-shadow:0 5px 15px rgba(0,0,0,0.2);
}

.login-register{
  margin-top:15px;
  font-size:14px;
  color:#555;
}

.login-register span{
  color:#0f5c2e;
  font-weight:600;
  cursor:pointer;
}